* {
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #f9fafc;
}
ul {
    padding-left: 5px;
}
li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    padding-top: 5px;
    color:#69696a;
}
.button1, .button2 {
    padding-top: 7px;
    padding-bottom: 7px;
    color: #FFF;
    background-color: #000;
    border-radius: 25px;
    border-width: 0;
    text-align: center; 
}
.footer {
    background-color: rgba(247, 193, 162, 0.7);
    display: flex;
    bottom: 0;
    align-items: flex-end;
    position: fixed;
    width: 100%;
    left: 0; 
    padding: 5px 20px;
}
.firstWord {
    margin-bottom: 5px;
}
a {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    text-decoration: none;
    color:#69696a;
}
p {
    color: #69696a;
    border-left: solid;
    border-width: 3px;
    padding-left: 10px;
}
h1, .firstWord {
    color: #000;
}
.chirpus {
    margin-left: 0;
}
#footer-menu {
    position: absolute;
    right: 40px;
    display: flex;
    flex-direction: row;
}
#spacer {
    height: 400px;
}
